:root {
    --min-screen-height: 1000px;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    background-color: darkslategray;
}

.App {
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100%;
    display: grid;
    grid-template-columns: 200px 1000px;
    grid-template-rows: 4rem 1fr 3rem 2rem;
    grid-template-areas: "workspaceTree headerArea" "workspaceTree mainContent" "workspaceTree tabs" "footer footer";
    gap: 3px;
}

/* Icon sizes */
.material-icons.md-12 { font-size: 12px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.workspaceTree {
    grid-area: workspaceTree;
    background-color: skyblue;
}

.headerArea {
    grid-area: headerArea;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}

.titleArea {
    display: flex;
    flex-direction: row;
}

.titleArea h1 {
    font-size: 1.6rem;
    margin: 0;
    margin-left: 1rem;
    margin-top: 0.1rem;
    width: 800px;
}

.titleArea p {
    font-size: 0.9rem;
    margin: 0;
}

.breadCrumb {
    grid-area: breadCrumb;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}

.breadCrumb p {
    margin: 0;
    flex-grow: 1;
    display: inline-flex;
    align-items: center;
    padding-left: 2rem;
    font-size: 12px;
}

.mainContent {
    grid-area: mainContent;
    background-color: lightgray;
}

.belowEditor {
    grid-area: tabs;
    display: flex;
    flex-direction: row;
    background-color: lightgray;
}

.tabs {
    flex-grow: 1;
    margin: 0;
    height: 100%;
    list-style-type: none;
}

.tabs li {
    display: inline
}

.tabs button {
    background-color: lightcyan;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
}

.addAgent {
    background-color: lightcyan;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

/* For navigation bar*/

/* ul.nav {
    padding-left: 0px;
    background-color: white;
    text-align: center;
} */

ul.nav > li {
    display: inline;
    padding: 5px 10px;
}

ul.nav > li:hover {
    background-color: gray;
}

ul.nav > li > a {
    color: white;
    text-decoration: none;
}

.footer {
    grid-area: footer;
    background-color: aliceblue;
}

.analyzeBut {
    background-color: lightgreen;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.otherBut {
    background-color: gray;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
}

/* For search bar */
/* From https://www.w3schools.com/howto/howto_css_searchbar.asp */

.topnav {
    padding-left: 1rem;
    align-items: center;
    overflow: hidden;
    background-color: gray;
    vertical-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 12px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
    background-color: #2196F3;
    color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    /* float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px; */
    font-size: 14px;
    width: 30rem;
    height: 1.4rem;
    align-items: center;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

@media screen and (orientation: portrait) and (max-width: 768px) {
    .App {
        grid-template-columns: 1fr;
        grid-template-areas: "workspaceTree" "breadCrumb" "mainContent" "tabs" "footer";
    }
}